.media
  .media-left
    = link_to user_path(comment.user) do
      = image_tag comment.user.image, class: "media-object"
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.name
    %p
      = comment.content
