.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  = render 'common/order-select'
.container.proto-list
  .row
    = render @prototypes
.text-center
  %ul.pagination
  = paginate @prototypes
