.row
  .col-md-3
    = text_field_tag "prototype[tag][]", prototype.first, placeholder: "Web Design"
  .col-md-3
    = text_field_tag "prototype[tag][]", prototype.second, placeholder: "UI"
  .col-md-3
    = text_field_tag "prototype[tag][]", prototype.third, placeholder: "Application"
