.row
  .col-md-3
    = text_field_tag "prototype[tag][]", (), placeholder: "Web Design"
  .col-md-3
    = text_field_tag "prototype[tag][]", (), placeholder: "UI"
  .col-md-3
    = text_field_tag "prototype[tag][]", (), placeholder: "Application"
