// error_messages
#error_explanation {

  .error-count{
    font-size: 30px;
    background-color: $weakgray;
    color: $redpink;
  }

  .error-detail{
    font-size: 15px;
    font-family: monospace;
    line-height: 25px;
    list-style: decimal;
    color: $weakblack;
    }
}
