$yellowgreen: #dff0d8;
$greenyellow: #d6e9c6;
$deepgreen: #468847;
$weakpink: #f2dede;
$pink: #ebccd1;
$deeppink: #a94442;
$white: #fff;
$whitegray: #ddd;
$gray: #D1D7DB;
$weakgray: #eee;
$graywhite: #F7F7F7;
$lightblue: #4A8EDD;
$aqua: #67ABFA;
$black: #212121;
$deepblack: #000;
