- if object.errors.any?
  #error_explanation
    .error-count
      The form contains #{pluralize(object.errors.count, "error")}.
      %ul.error-detail
        - object.errors.full_messages.each do |msg|
          %li= msg
