- if flash.now[:alert]
  - message = flash.now[:alert].is_a?(Array) ? flash.now[:alert].join('<br />').html_safe : flash.now[:alert]
  .alert.alert-danger#alert-danger
    %h2.error-name ERROR EXISTS
    = message
- else
  - flash.each do |key, value|
    = content_tag(:div, value, class: "alert alert-#{key}")
