.container
  .row
    %ul.nav.nav-pills.col-lg-11
      %li.active{role: "presentation"}
        = link_to "Popular PROTO", root_path
      %li{role: "presentation"}
        = link_to "Newest PROTO", prototypes_path
    = button_tag class: "btn btn-default col-lg-1" do
      = link_to "View Tags", tags_path
